<main class="center" id="main">
  <pb-breadcrumbs></pb-breadcrumbs>
  <!-- This is a Semantic HTML Change-->
  <!-- This is an A11y Change-->
  <section class="page-area" id="page-area" aria-label="Section describes the features of the budget app">

      <!-- This is an A11y Change-->
      <pb-article aria-label="article describes budget tracking feature">
          <!-- This is an A11y Change-->
          <h2>Stay on track</h2>
          <p>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </p>
      </pb-article>

      <pb-article>
          <h2>Alerts</h2>
          <p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </pb-article>

      <pb-article>
          <h2>Results</h2>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </pb-article>

      <pb-article>
          <h2>Free</h2>
          <p>
              This app is free!!! And you are the only one holding your data!
          </p>
      </pb-article>

      <pb-article>
          <h2>Stay on track</h2>
          <p>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </p>
      </pb-article>

      <pb-article>
          <h2>Alerts</h2>
          <p>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </p>
      </pb-article>

      <pb-article>
          <h2>Results</h2>
          <p>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </p>
      </pb-article>

      <article>
          <h2>Chart</h2>
          <p>
              <!-- This is an A11y Change-->
                <canvas id="myChart" width="500" height="500" aria-label="My Personal Budget in chart format">
                </canvas>
          </p>
      </article>
      <div id="d3chart" style="height: 500px;" >
          <h2>D3 Chart</h2>
      </div>
  </section>
</main>
